body{
font-family:Arial;
background:#f2f6ff;
}
.container{
width:600px;
margin:auto;
margin-top:40px;
padding:20px;
background:white;
border-radius:8px;
box-shadow:0 4px 10px rgba(0,0,0,0.1);
}

h2{
text-align:center;
color:#333;
}


.form{
display:flex;
flex-direction:column;
gap:10px;
margin-bottom:20px;
}

.form input{
padding:8px;
border:1px solid #ccc;
border-radius:5px;
}
.form button{
background:#4CAF50;
color:white;
border:none;
padding:10px;
border-radius:5px;
cursor:pointer;
}
.form button:hover{
background:#43a047;
}


table{
width:100%;
border-collapse:collapse;
margin-top:10px;
}
thead{
background:#2196F3;
color:white;
}

th,td{
border:1px solid #ddd;
padding:8px;
text-align:center;
}
tbody tr:nth-child(even){
background:#f9f9f9;
}
.details{
margin-top:15px;
padding:10px;
background:#e8f5e9;
border-radius:5px;
}